/* ----- hero-section ----- */
.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}
.content {
    position: relative;
    z-index: 2;
}
.hero-section {
    position: relative;
    padding-bottom: 100px;
    padding-top: 120px;    
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    text-align: center;
}
.hero-section .logo {
    width: 100%;
    max-width: 360px;   
    margin-bottom: 40px;  
}
.hero-section h1 {
    font-family: var(--pirate-font-primary);
    font-size: 60px;
    margin-top: 5px;
    color: var(--pirate-gold);
}
.hero-section h1 .arrr {
    font-weight: bold;
    background: linear-gradient(to right, var(--pirate-doubloon), var(--pirate-gold));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    -webkit-text-fill-color: transparent; 
}
.hero-section strong {
    color: var(--pirate-cloud);
    font-size: 28px;
}
.hero-section p {
    margin-top: 30px;
    margin-bottom: 40px;
    margin-inline: auto;
    font-size: 18px;
    width: 100%;
    max-width: 420px;
    color: #fff
} 
.hero-section strong, .hero-section p {
    text-shadow: 0px 0px 30px rgb(0, 0, 0); 
}
@media screen and (max-width: 768px) {
    .hero-section h1 {
        font-size: 40px;
    }
    .hero-section strong {
        font-size: 20px;
    }
    .hero-section p {
        font-size: 14px;
    }
}
@media screen and (max-width: 466px) {
    .hero-section h1 {
        font-size: 30px;
    }
    .hero-section strong {
        font-size: 15px;
    }
}

/* ----- map-section ----- */
.map-section {
    padding-top: 100px;
}
.start-date {
    display: block;
    margin-bottom: 40px;
    font-size: 20px;
}
.setsail {
    position: absolute;
    top: -4px;
    left: 55%;
}
.timeline {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-top: 80px;
    padding: 140px 0 100px;
}
.timeline::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    width: 2px;
    background-color: var(--pirate-doubloon); 
    transform: translateX(-50%);
    z-index: 1;
}
/* 
Makes the vertical timeline a chain, instead of just a plain line
.timeline::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    width: 10px; 
    background-image: url('../img/site/chainlink.svg'); 
    background-repeat: repeat-y;
    transform: translateX(-50%);
    z-index: 1;
} 
*/
.post {
    position: relative;
    width: 40%;
    margin-bottom: 30px;
    padding: 10px;    
    border-radius: 5px;
}
.post .date {
    font-size: 20px;
    color: #fff;
    display: block;
    margin: 5px auto 10px;
}
.post img {
    max-width: 90%;
    margin: 50px auto 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.384); 
    display: block;
    max-height: 400px;
}
.post.left {
    left: 45%;
    transform: translateX(-100%);
}
.post.right {
    left: 55%;
    transform: translateX(0);
}
.post h3 {
    color: #fff;
    margin: 35px auto 20px;
    font-size: 26px;
}
.post.left .date {
    text-align: right;
}
.post-content {
    padding: 20px;
    background: #272727;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.685); 
}
.post-content ul {
    list-style-type: none;
    margin-left: 20px;
}
.post-content li::before {
    content: '•';
    color: var(--pirate-doubloon);
    font-size: 1em;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.post-content ul li {
    margin-bottom: 10px;
}
.timeline .item {
    position: relative;
}
.timeline-marker {
    position: absolute;
    width: 40px;
    height: auto;
    z-index: 2; 
    top: 8px;
    border-radius: 50%;
    padding: 7px;
    background-color: #3a3a3a;
    left: 50%;
    transform: translateX(-50%);  
    border: 2px solid var(--pirate-doubloon);  
    box-shadow: 0px 0px 24px #8b6d1596; 
}
.timeline .start-marker {
    top: 0;
    width: 60px;
}
.timeline .end-marker {
    top: 100%;
    bottom: 100%;
    width: 60px;
}
.map-section .website {
    text-align: center;
}
.map-section .btn {
    margin-bottom: 20px;
    margin-top: 80px;
}
@media screen and (max-width: 1000px) {
    .timeline::after {
        left: 12px;
        transform: translateX(0);
    }
    .post {
        width: 98%;
        padding: 10px;
    }
    .post.left, .post.right {
        transform: translateX(0);
        position: relative;
        display: block;
        left: 28px;
    }
    .post .date {
        margin-left: 20px;
    }
    .post.left .date  {
        text-align: left;        
    }
    .timeline-marker {
        left: 16px;
    }
    .map-section .website {
        margin-top: 60px;    
    }
    .setsail {
        left: 80px;
    }
    .map-section {
        padding-top: 60px;
    }
}
@media screen and (max-width: 600px) {
    .post-content {
        font-size: 16px;
    }
}